<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>970354224000-bfl5i6slume30l3n48u6oamokclldjuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970354224000-bfl5i6slume30l3n48u6oamokclldjuh</string>
	<key>API_KEY</key>
	<string>AIzaSyCPXeDkamL-jJSCseJM5dGunjK3zELJwXs</string>
	<key>GCM_SENDER_ID</key>
	<string>970354224000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandeep.Happy-Moments</string>
	<key>PROJECT_ID</key>
	<string>happy-moments-45be7</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-moments-45be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970354224000:ios:f98a87e3a775f7e6</string>
	<key>DATABASE_URL</key>
	<string>https://happy-moments-45be7.firebaseio.com</string>
</dict>
</plist>